{
"parser": "babel-eslint",
"env": {
  "browser": true,
  "node": true,
  "es6": true
  },
  "plugins": [
  "react",
  "react-native"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "impliedStrict": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
    "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
    ],
    "rules": {
      // ECMAScript 6
      "no-duplicate-imports": "error",
      "constructor-super": "error",

      // Stylistic Issues
      "spaced-comment": ["warn", "always"],
      "padded-blocks": ["warn", "never"],
      "operator-linebreak": ["warn", "none"],
      "operator-assignment": ["warn", "always"],
      "object-property-newline": "warn",
      "object-curly-newline": ["warn", { "multiline": true }],
      "no-whitespace-before-property": "warn",
      "no-unneeded-ternary": "warn",
      "no-underscore-dangle": "warn",
      "no-tabs": "warn",
      "no-negated-condition": "warn",
      "no-multiple-empty-lines": "warn",
      "no-mixed-spaces-and-tabs": "warn",
      "no-lonely-if": "warn",
      "newline-per-chained-call": ["warn", { "ignoreChainWithDepth": 2 }],
      "newline-before-return": "warn",
      "newline-after-var": ["warn", "always"],
      "max-nested-callbacks": ["warn", 3],
      "max-len": ["warn", 80],
      "max-depth": ["warn", 4],
      "lines-around-directive": ["warn", "always"],
      "lines-around-comment": ["warn", { "beforeBlockComment": true }],
      "keyword-spacing": ["warn", { "before": true }],
      "key-spacing": ["warn", { "mode": "strict" }],
      "jsx-quotes": ["warn", "prefer-double"],
      "indent": "warn",
      "id-length": "warn",
      "id-blacklist": ["warn", "data", "err", "e", "cb", "callback"],
      "func-style": ["warn", "expression"],
      "func-names": ["warn", "never"],
      "func-call-spacing": ["warn", "never"],
      "eol-last": ["warn", "always"],
      "comma-spacing": ["warn", { "before": false, "after": true }],
      "comma-dangle": ["warn", "never"],
      "comma-style": ["warn", "last"],
      "computed-property-spacing": ["error", "never"],
      "camelcase": "warn",
      "brace-style": ["warn", "allman"],
      "block-spacing": ["warn", "never"],
      "semi": ["warn", "never"],
      "quotes": ["warn", "single"],
      "no-var": 1,
      "react-native/no-unused-styles": 2,
      "react-native/split-platform-components": 2,
      "react-native/no-inline-styles": 2,
      "react-native/no-color-literals": 2
    }
    }
